<% provide(:title, 'Categories') %>

<h1>Categories</h1>

<p>You can select one primary category, by default. If you would like to be placed in additional subcategories,
  or to change your categories, please choose a maximum of five, below. Note this is per domain.</p>

<br />
<h4>Your company is currently in the following categories</h4>
<br />

<table class="table table-striped">
  <tbody>
      <tr>
        <td>Household Cleaning Supplies</td>
        <td>Primary Category</td>
        <td><a href="#" class="label label-danger">Remove this category</a></td>
      </tr>
      <tr>
        <td>Auto</td>
        <td>Primary Category</td>
        <td><a href="#" class="label label-danger">Remove this category</a></td>
      </tr>
  </tbody>
</table>

<br />
<a href="#" class="btn btn-primary">Add category</a>