<% provide(:title, 'Notifications') %>

<h1 class="title">Notification settings for</h1>

<form class="form-horizontal">
  <div class="form-group">
    <h4>General Notifications</h4>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Newsletters</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Yes, send me Trustpilot Newsletters
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

<hr />

<form class="form-horizontal">
  <div class="form-group">
    <h4>Notifications for</h4>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">1 or 2 star review</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Send me an email when we receive a 1 or 2 star review
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">3 star review</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Send me an email when we receive a 3 star review
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">4 or 5 star review</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Send me an email when we receive a 4 or 5 star review
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>