<h1 class="title">Your performance the last 30 days</h1>

<div class="row">
  <div class="col-md-6 box-lg box-orange">
    <p>Reviews collected</p>
    <div class="box-body">16</div>
  </div>

  <div class="col-md-6 box-lg box-lgray">
    <p>Reviews per day</p>
    <div class="box-body">2</div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 box-lg box-blue">
    <p>Average TrustScore</p>
    <div class="box-body">6.8</div>
  </div>

  <div class="col-md-6 box-lg box-gray">
    <p>Invitations sent</p>
    <div class="box-body">25</div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-6 box-md box-gray">
    <h3>Total visits to profile</h3>
    <div class="box-body">31</div>
  </div>

  <div class="col-md-6 box-md box-lgray">
    <h3>From TrustSystems</h3>
    <div class="box-body">2</div>
  </div>
</div>

<br />
<br />