<h1>GUIDELINES FOR COMPANIES' USE OF THE TRUSTSYSTEMS SERVICE</h1>
<p>These guidelines (the "Guidelines") apply to any use by companies and organisations ("Company") of
  TrustSystem's products and services.</p>


<h3>1 Inviting users to submit reviews of the Company</h3>
<p>When the Company sends out invitations to its customers ("User", "Users", depending on the circumstances)
  and asks them to review the Company on TrustSystem, the Company must observe the following mandatory rules. The rules
  apply regardless of whether the review invitation emails are sent via our Review Invitation Service or independently
  hereof:</p>
<ol>
  <li>The Company must ensure that Users are invited equally and identically to submit a review about their experience
    dealing with the Company, including a buying experience. This also applies when review invitations are emailed to
    previous Users through our Kickstart Review Service, which is an integrated part of the Review Invitation Service,
    or via the Company's own system.</li>
  <li>The Company may not invite selected Users to submit a review; the Company must invite all or no one. If the Company
    wishes to deviate from the principle of all or none, the Company must give us prior notice by contacting us by email:
    support@TrustSystem.com. It rests with the Company to ensure that the selection of Users, who are invited to submit a
    review are selected in an objective, unbiased manner, for example the invitation of every 3rd User.</li>
  <li>The invitation to submit a review must be unbiased and independent of whether the User is expected to have had a
    positive or negative experience in connection with her/his purchase at the Company.</li>
  <li>The language in the invitation to submit a review must be neutral and e.g. without any attempts to (i) influence
    the User in a positive or negative direction or (ii) attract specific types of Users.</li>
</ol>
<p>A User is a customer who; (i) has purchased a product or service from the Company, (ii) has placed an order with the
  Company, or (iii) can otherwise document using the Company's service.</p>
<p>The Company is encouraged to use our default text which is seen in the Review Invitation Service when sending
  out review invitations. If the Company makes changes to our default text, the Company must ensure that the changes
  are in accordance with the above guidelines. If we deem that the text in a review invitation does not comply with
  the above guidelines, we are at any time entitled to reinsert the default text in the review invitation. If we
  do so, we will notify the Company of the same.</p>
<p>It is in every respect the Company's responsibility to ensure that the Company's review invitations and methods
  for selecting Users who receive an invitation to review are in accordance with all applicable laws.</p>


<h3>2 Use of the order number functionality</h3>
<p>We give the Company the opportunity to use our order number functionality. The order number functionality entails
  that a User must insert an order number in order to write a review of the Company.</p>
<p>In addition, reviews submitted independently of the Review Invitation Service may be subject to an order number
  verification to support the validity in the event that the Company is exposed to serious documented abuse on our
  platform, which results in significant damage to the Company's reputation. Order number verification is a
  functionality that can be implemented on TrustSystem. It entails that the User must insert an appropriate order
  number to be able to write a review of the Company.</p>
<p>Order number verification can only be set up by contacting us by email: support@TrustSystem.com and at the same
  time forwarding evidence of the abuse. Order number verification does not give retroactive verification of reviews
  posted prior to its activation.</p>
<p>If the Company establishes that invalid order numbers are used in connection with submitting reviews, the
  Company must inform us hereof without undue delay by reporting the review.</p>
<p>We reserve the right to turn off the order number verification in cases of suspected abuse of the functionality,
  and/or if we can no longer determine the need for the functionality.</p>


<h3>3 Use of TrustSystem Designs</h3>

<p>The Company will be able to see in the administration module on TrustSystem whether the Company is entitled
  to use our logos, graphics and trademarks ("TrustSystem Designs").</p>
<p>Our Trademark Guidelines detail who where and how TrustSystem Designs may be used.</p>
<p>If the Company displays the TrustRating, category ranking and/or TrustSystem Stars on for example the Company's
  website, the Company must ensure that the displayed TrustRating, category ranking and TrustSystem Stars are always
  accurate and reflect the Company's actual TrustRating, ranking and the awarded number of TrustSystem Stars on
  TrustSystem's website.</p>


<h3>4 Fabricated reviews</h3>
<p>The purpose of TrustSystem is to create a platform where Users can freely share their buying experiences or
  equivalent relationship with the Company, cf. section 1, and thereby provide an informative and fair view of the
  Company's service.</p>
<p>Trust is crucial to us and therefore we cannot under any circumstances accept fabricated reviews, i.e. reviews
  that are not an expression of a genuine buying experience, for example because the review is created by or on
  behalf of the Company.</p>
<p>We consider direct and indirect creation of fabricated reviews a material breach of the agreement between the
  Company and us. It is irrelevant how the fabricated reviews are created, including whether they are created by
  internal employees of the Company or by external consultants.</p>
<p>We use specially developed software to detect fabricated reviews. Reviews that we deem false, fabricated or
  similar will be deleted, moved or highlighted, and we are entitled to publish information about this in connection
  with the Company's profile on TrustSystem.</p>


<h3>5 Reviews written by the Company's employees</h3>
<p>It is not permitted for Company employees, former employees, Company owners, directors or family members thereof,
  to write reviews of the Company.</p>


<h3>6 Collection of reviews on the Company's premises or via the Company's equipment</h3>
<p>The Company may not set up equipment for Users, for example by setting up a computer, tablet etc. on the
  Company's premises or similar and encouraging Users to review the Company. This is due to our specially
  developed software used to detect fabricated reviews, which will detect and delete such reviews as they may
  for example be written from the same IP address. We can however give permission for the collection of reviews
  on the Company's premises - but never through company equipment - if the Company contacts us prior to the
  collection by email: support@TrustSystem.com and:</p>
<p>(i) informs us of how the collection will take place</p>
<p>(ii) provides us with the Company's IP address and location, and</p>
<p>(iii) guarantees that the Guidelines are respected, including the principles in section 1.</p>
<p>However, we reserve the right at any time without prior notice and justification to withdraw our permission.</p>


<h3>7 Misuse of the reporting functionality</h3>
<p>It is possible for the Company to report reviews that the Company believes are in violation of our guidelines.
  The Company is not allowed to misuse this reporting functionality for example by (i) carrying out unfounded or
  incorrect reporting of many or all of the bad reviews, (ii) reporting competitors' positive reviews, (iii)
  reporting the same review multiple times, when it has already been assessed in accordance to our internal
  quality process, unless there are exceptional circumstances. We consider such behavior a material breach of
  the agreement between the Company and us.</p>


<h3>8 Threats against Users and TrustSystem employees</h3>
<p>Unfortunately, we have experienced that a few companies have threatened Users, for example by making unjustified
  claims for damages, unless specific reviews (typically negative) are removed. Moreover, we have experienced threats
  against our employees. Of course we cannot accept such behavior, which we regard as a material breach of the
  agreement between the Company and us, and can lead to the immediate filing of a report with the relevant
  authorities.</p>