<% provide(:title, 'Facebook') %>

<div class="row">
  <div class="col-md-8">
    <h1 class="title">Facebook Page Box</h1>
    <p>Do customers like you? Prove it! Boost customer confidence by implementing a Facebook Like
      Box on your profile page.</p>
    <br />
    <div class="panel panel-default">
      <div class="panel-body box-lgray">

        <%= form_for @company, :url => url_for(:controller => 'dashboard', :action => 'email_template'), :html => { :method => :post } do |f| %>
            <label>Insert your Facebook page URL.</label>
            <%= f.text_field :url_facebook,
                             autofocus: true,
                             placeholder: 'Eg. http://www.facebook.com/trustsystems',
                             class: 'form-control',
                             style: 'max-width: 340px;' %>
            <br />
            <%= f.submit 'Update', :class => 'btn btn-primary' %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <br />
    <p><a href="#">View my profile page on TrustSystems.</a></p>
    <br />
    <img src="<%= image_path 'dashboard/facebook_likebox.jpg' %>" alt="" />

  </div>
</div>


