<div class="container">

  <div class="row pricing-header">
    <div class="col-md-12">
      <h1 class="title">Пакеты и цены</h1>
      <h4>Подпишитесь, получите бесплатную пробную версию и начните собирать отзывы уже сегодня</h4>
    </div>
  </div>



  <div class="row pricing-table">
    <div class="col-xs-12 col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Beginner</h3>
        </div>
        <div class="panel-body">
          <div class="the-price">
            <h1>
              $10<span class="subscript">/mo</span></h1>
            <small>1 month FREE trial</small>
          </div>
          <table class="table">
            <tr>
              <td>
                1 Account
              </td>
            </tr>
            <tr class="active">
              <td>
                1 Project
              </td>
            </tr>
            <tr>
              <td>
                100K API Access
              </td>
            </tr>
            <tr class="active">
              <td>
                100MB Storage
              </td>
            </tr>
            <tr>
              <td>
                Custom Cloud Services
              </td>
            </tr>
            <tr class="active">
              <td>
                Weekly Reports
              </td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Sign Up</a>
          1 month FREE trial</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="panel panel-info">
        <div class="cnrflash">
          <div class="cnrflash-inner">
                        <span class="cnrflash-label">MOST
                            <br>
                            POPULR</span>
          </div>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">
            Advanced</h3>
        </div>
        <div class="panel-body">
          <div class="the-price">
            <h1>
              $20<span class="subscript">/mo</span></h1>
            <small>1 month FREE trial</small>
          </div>
          <table class="table">
            <tr>
              <td>
                2 Account
              </td>
            </tr>
            <tr class="active">
              <td>
                5 Project
              </td>
            </tr>
            <tr>
              <td>
                100K API Access
              </td>
            </tr>
            <tr class="active">
              <td>
                200MB Storage
              </td>
            </tr>
            <tr>
              <td>
                Custom Cloud Services
              </td>
            </tr>
            <tr class="active">
              <td>
                Weekly Reports
              </td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Sign Up</a>
          1 month FREE trial</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            Advanced +</h3>
        </div>
        <div class="panel-body">
          <div class="the-price">
            <h1>
              $35<span class="subscript">/mo</span></h1>
            <small>1 month FREE trial</small>
          </div>
          <table class="table">
            <tr>
              <td>
                5 Account
              </td>
            </tr>
            <tr class="active">
              <td>
                20 Project
              </td>
            </tr>
            <tr>
              <td>
                300K API Access
              </td>
            </tr>
            <tr class="active">
              <td>
                500MB Storage
              </td>
            </tr>
            <tr>
              <td>
                Custom Cloud Services
              </td>
            </tr>
            <tr class="active">
              <td>
                Weekly Reports
              </td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Sign Up</a> 1 month FREE trial</div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Professional</h3>
        </div>
        <div class="panel-body">
          <div class="the-price">
            <h1>
              $50<span class="subscript">/mo</span></h1>
            <small>1 month FREE trial</small>
          </div>
          <table class="table">
            <tr>
              <td>
                5 Account
              </td>
            </tr>
            <tr class="active">
              <td>
                20 Project
              </td>
            </tr>
            <tr>
              <td>
                300K API Access
              </td>
            </tr>
            <tr class="active">
              <td>
                500MB Storage
              </td>
            </tr>
            <tr>
              <td>
                Custom Cloud Services
              </td>
            </tr>
            <tr class="active">
              <td>
                Weekly Reports
              </td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Sign Up</a> 1 month FREE trial</div>
      </div>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-md-12 text-center hp-spotlights">
      <div class="content">
        <h2>In the spotlight</h2>
        <p>'Trusted Insights' is a powerful new service from Trustpilot. Make informed decisions based on segmented
          customer review insights and drive purchase decisions by giving customers relevant reviews throughout their
          purchasing journey</p>
        <p><a href="#" target="_blank" title="Find out more now!" class="btn btn-primary btn-lg">Find out more now!</a></p>
      </div>
    </div>
  </div>

<br />
<br />

<div class="container">
  <div class="row ts-info">
    <div class="col-md-6">
      <h4>1. Как работает Trust Systems?</h4>
      <p>Trust systems повышает Ваши продажи, собирая, интегрируя и распределяя отзывы о Вашей компании. Начните с
        нашей абсолютно бесплатной 14-ти дневной пробной версией. Не требует кредитной карты.</p>
      <br />
      <h4>2. Что входит в 14-ти дневную пробную версию?</h4>
      <p>В 14-ти дневную пробную версию входят все возможности Trust Systems, кроме "Уникальных ссылок", которые
        настриваются индивидуально для клиента только в пакете «Профессиональный».  Вдобавок, 300 активизаций отзывов
        помогут Вам максимально увеличить количество отзывов от Ваших недавних клиентов. Мы проследим, чтобы Вы начали
        собирать отзывы в кратчайшие сроки. Вы почувствуете разницу еще ранее, чем закончится пробный период.</p>
      <br />
      <h4>3. Будет ли у меня доступ к каким-нибудь возможностям после окончания пробного периода?</h4>
      <p>После пробного периода, у Вас будет возможность использовать несколько избранных возможностей бесплатно:
        уведомления по электронной почте, выбор категории и поле номера заказа. Все компании могут редактировать детали
        их компаний, а так же отвечать на отзывы.</p>
      <br />
      <h4>4. Вы обеспечиваете обучение во время пробного периода? Что происходит дальше?</h4>
      <p>Не волнуйтесь, мы проведём Вас через все этапы, убеждаясь, что Вы получаете больше отзывов и повышаете продажи,
        используя Trust Systems. После пробного периода, мы будем работать с Вами, чтобы выбрать пакет, который
        удовлетворит Ваши требования.</p>
      <br />
      <h4>5. Потребуются ли какие-нибудь затраты на установку, когда я решу пользоваться Trust System для бизнеса?</h4>
      <p>Ноль. Нет никаких затрат на установку.</p>
      <br />
      <h4>6. Нужно ли мне платить за регистрацию в Trust Systems?</h4>
      <p>Нет, Вам не нужно ни за что платить, когда вы регистрируетесь в Trust Systems. Пробный период бесплатный.</p>
      <br />
      <h4>7. Легко ли настроить всё в Trust Systems?</h4>
      <p>Вам не нужно быть техническим волшебником, чтобы настроить Trust Systems. Это действительно так же просто,
        как скопировать и вставить. Мы рады сопровождать Вас на всех этапах. И, если Вам нужна дополнительная помощь,
        наша успешная команда поддержки пользователей убедится в том, что Вы развиваетесь в Trust Systems и правильно
        управляете системой.</p>
      <br />
    </div>

    <div class="col-md-6">
      <h4>8. Сколько нужно времени, чтобы настроить Trust Systems?</h4>
      <p>За то время, когда Вы готовите бутерброд, можно полностью настроить и запустить Trust Systems. Дело всего
        лишь в копировании-вставке, например, заполнение поля «электронный адрес», чтобы использовать автоматический
        сервис обратной связи.</p>
      <br />
      <h4>9. Защищены ли мои данные?</h4>
      <p>Да, Ваши данные в 100% безопасности. Наши серверы защищены круглосуточным наблюдением. Наше программное
        обеспечение и инфраструктура постоянно обновляются  с выходом новых способов защиты. Наша сеть защищена
        антивирусом профессионального класса, в планах Trust Systems кодирование SSL чтобы сохранить Ваши данные в
        безопасности..</p>
      <br />
      <h4>10. Что произойдет с отзывами о моей компании, когда я уже не буду пользоваться Вашим сервисом?</h4>
      <p>Ничего, Ваши отзывы принадлежат профилю Вашей компании на сайте Trust Systems. Там они и останутся</p>
      <br />
      <h4>11. Какими способами происходит оплата после выбора платного пакета?</h4>
      <p>Мы принимаем банковские переводы, PayPal и основные кредитные карты, включая Visa, Visa Electron, JCB,
        MasterCard and Maestro.</p>
      <br />
      <h4>12. Каков срок действия пакета?</h4>
      <p>Изначальный контракт с Trust Systems заключается на 12 месяцев, с предоплатой. Мы уверенны в том, что Вы
        увидите результаты.</p>
      <br />
      <h4>13. Мне нужна помощь, что делать?</h4>
      <p>Позвоните нам по телефону ХХ-ХХ-ХХ, если у Вас есть какие-нибудь вопросы или сомнения. Мы о Вас
        позаботимся.</p>
      <br />
    </div>
  </div>


  <!-- Companies -->
  <div class="row">
    <div class="col-md-3 text-center">
      <a href="#">
        <%= image_tag('business/home/pureformulas-insighttile.jpg', :alt => '') %>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="#">
        <%= image_tag('business/home/petflow.jpg', :alt => '') %>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="#">
        <%= image_tag('business/home/bookbyte.jpg', :alt => '') %>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="#">
        <%= image_tag('business/home/rev.com-insights.jpg', :alt => '') %>
      </a>
    </div>
  </div>

 </div><!-- container -->