<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="title">Каким образом TrustSystem поможет вашему бизнесу</h1>
      <img src="/assets/business/promo-whyus.png" alt="" />
    </div>
  </div>

  <br />
  <br />


    <div class="row product-info-item">
      <div class="col-md-4 text-center">
        <img src="/assets/business/cl-math.png" alt="" />
      </div>
      <div class="col-md-8">
        <h3>Да, это действительно окупаемо.<br />
          Не верьте нам на слово, просто посчитайте!</h3>
        <p>Невозможно отрицать силу воздействия качественных, проверенных отзывов от покупателей. Это простое уравнение –
          отзывы увеличивают уверенность покупателей, что равнозначно росту конверсии, увеличению размера корзины и росту
          окупаемости!</p>
        <p>
          <a href="#" class="more">Просчитать рост Ваших продаж</a>
        </p>
      </div>
    </div>

    <div class="row product-info-item">
      <div class="col-md-4 text-center">
        <img src="/assets/business/product/cl-network.png" alt="" />
      </div>
      <div class="col-md-8">
        <h3>Доверие социально:<br />
          У нас самое крупное сообщество отзывов в Европе</h3>
        <p>Отзывы не берутся с воздуха. Они приходят от реальных людей. Trust Systems основан на активном сообществе
          реальных людей, которые оставили около 6 миллионов отзывов о более чем 100, 000 компаниях. В конце концов,
          это именно те люди, которые раскачивают Ваш бизнес. Объединитесь с ними и увидьте разницу.</p>
      </div>
    </div>

    <div class="row product-info-item">
      <div class="col-md-4 text-center">
        <img src="/assets/business/product/cl-y.png" alt="" />
      </div>
      <div class="col-md-8">
        <h3>Измените репутацию вашей компании<br />
          с помощью подлинных отзывов уже сегодня</h3>
        <p>Покупатели хотят знать, что Вы профессионал своего дела, когда доходит до обслуживания. Реальные отзывы от
          Ваших клиентов говорят сами за себя. Мы проверяем правдивость отзывов, подтвержденных по номеру заказа.
          Таким образом, общаясь с людьми, чье мнение действительно важно, Вы можете быть уверенны, что перед Вами
          настоящая картина событий.</p>
      </div>
    </div>

    <div class="row product-info-item last">
      <div class="col-md-4 text-center">
        <img src="/assets/business/product/cl-mechanics.png" alt="" />
      </div>
      <div class="col-md-8">
        <h3>Без усилий и головной боли.<br />
          Наша установка максимально быстрая.</h3>
        <p>Мы предлагаем невероятно простой процесс начала работы, вы полюбите его! Два слова: Копируйте. Вставляйте. Это
          значит, что когда вы дочитаете это, мы всё для Вас подготовим и будем готовы к запуску. Вы будете получать
          отзывы мгновенно. И если Вам понадобиться помощь, наша успешная команда всегда к Вашим услугам.</p>
      </div>
    </div>


  <div class="row">
    <div class="col-md-12">
      <h3 class="green-badge">Еще больше причин, почему Вы будетe получать выгоду от Trust Systems</h3>
    </div>
  </div>
  <div class="row tables-reasons">
    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Персональная поддержка</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Схема уже придумана для Вас</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Централизированная платформа</td>
        </tr>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Совместимость</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
        <tr>
          <th scope="row">5</th>
          <td>Интеграция</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Модификация в соответсвии с Вашими требованиями</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Прозрачность поиска</td>
        </tr>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Проверенные партнеры</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>