<div class="container">

<div class="row promo-collect promo text-center">
  <div class="col-md-12">
    <h1>Собирайте отзывы</h1>
    <p>и реальные мнения легко</p>
    <img src="/assets/business/product/product-collect-hd.png" alt="" />
  </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h1>Три пути получения отзывов</h1>
        <p>Мы предлагаем три дополнительные опции сбора отзывов: активизация доверия, автоматический сервис обратной связи, и
        уникальные ссылки. Trust Systems приглашает всех ваших покупателей, совершенно новых и старых, оставить отзыв через
        полностью настраиваемые электронные сообщения. Никакой дополнительной регистрации покупателей или личной информации не
        требуется. Этим легко пользоваться, это легко защищать, и да, это эффективно – в среднем более 7 % пригласительных писем
        переходят в отзывы.</p>
    </div>
</div>
<br />
<br />

<div class="row product-info-item">
  <div class="col-md-4 text-center">
    <img src="/assets/business/product/cl-diagram.png" alt="" />
  </div>
  <div class="col-md-8">
    <h3>Активизация доверия</h3>
    <h5>Самый быстрый способ сбора отзыва от Ваших бывших клиентов.</h5>
    <p>Нам нужен список из трёх позиций, чтобы активизировать сбор Ваших отзывов: имя покупателя, электронный ящик и
      номер заказа. С этими тремя данными, Вы увидите, как отзывы польются к Вам рекой.</p>
  </div>
</div>

<div class="row product-info-item">
  <div class="col-md-4 text-center">
    <img src="/assets/business/product/cl-starbox.png" alt="" />
  </div>
  <div class="col-md-8">
    <h3>Автоматический сервис обратной связи</h3>
    <h5>Вы получаете отзывы всё время, на автопилоте.</h5>
    <p>Ловите поток отзывов с помощью автоматического сервиса обратной связи. Мы просим каждого нового покупателя
      оставить отзыв о Вашей компании. В день покупки (отсрочка настраивается), мы пригласим Ваших самых новых
      покупателей оставить свежий отзыв на нашем сайте. В считанные секунды, эти отзывы, основанные на номере заказа,
      уже живут в интернете.  С автоматическим сервисом обратной связи у Вас всегда будут новые отзывы, с пылу – с
      жару. И будьте уверены – все личные данные всегда будут оставаться личными. </p>
  </div>
</div>

<div class="row product-info-item last">
  <div class="col-md-4 text-center">
    <img src="/assets/business/product/cl-hand.png" alt="" />
  </div>
  <div class="col-md-8">
    <h3>Уникальные ссылки</h3>
    <h5>Настройте всё под себя с помощью полностью меняющихся параметров.</h5>
    <p>Для корпоративных клиентов уникальные ссылки дают гибкость в виде и образе Ваших электронных писем. Объедините
      собственные инструменты Вашей компании с Trust Systems чтобы Ваши покупатели увидели единую концепцию Вашего
      бренда.</p>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h1>Увидьте систему в действии</h1>
    <p>Одно простое, но мощное электронное письмо – это суть нашего сервиса. Мы отправляем электронные письма абсолютно
      всем Вашим клиентам – и старым и новым – Вы можете быть уверенны, что получите правдивые, свежие отзывы сразу же.
      И в отличии от других компаний, на Trust Systems отзывы всегда остаются в профиле Вашей компании, чтобы ни
      случилось.</p>
  </div>
</div>


  <br />
  <br />


<div class="row product-info-item">
  <div class="col-md-4 text-center">
    <img src="/assets/business/product/cl-mechanics.png" alt="" />
  </div>
  <div class="col-md-8">
    <h3>Делайте по-своему. Полностью настраиваемый шаблон электронного сообщения</h3>
    <p>Каждое пригласительное письмо, которое мы отправляем Вашим клиентам составлено так, чтобы быть «родным». С
      опциями, которые настраивают цвет, фон, логотип и т.д. Ваше письмо будет полностью соответствовать Вашему бренду.
      Использовать наш проверенный шаблон сообщения и приступить к делу немедленно или придумать его самостоятельно –
      решать Вам. Наш удобный для пользователя интерфейс позволяет совместить шаблон с брендом Вашей компании без
      труда! </p>
  </div>
</div>

<div class="row product-info-item last">
  <div class="col-md-4 text-center">
    <img src="/assets/business/product/cl-orderid.png" alt="" />
  </div>
  <div class="col-md-8">
    <h3>Легко отвечать на Ваши отзывы с помощью ID заказа</h3>
    <p>С Trust Systems Бизнес, Вы можете привязывать все новые отзывы к ID заказа. Это упрощает идентификацию Ваших
      клиентов и дает возможность отвечать им напрямую. Быстрый ответ приводит к более счастливому клиенту и,
      несомненно, лучшему бизнесу. Потенциальные покупатели также смогут видеть Ваше хорошее обслуживание покупателей
      в действии. В любом случае, это плюс.</p>
  </div>
</div>

</div>