<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="title">Слушайте и учитесь. Зарабатывайте доверие. Повышайте Ваши продажи.</h1>
    </div>
  </div>


  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-stars.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Собирайте отзывы без усилий</h3>
      <p>Вы будете получать постоянный приток новых и проверенных отзывов от Ваших клиентов. С Trust Systems эти отзывы
        публикуются, даже если Вы больше не являетесь клиентом. И Вам не нужно и пальцем шевелить, всё благодаря одному
        электронному письму, которое вышлем мы. Ценная оценка, положительные отзывы и возрастающие продажи – мы
        превращаем это в реальность.</p>
      <p>
        <a href="#" class="more">Узнайте, как собирать отзывы</a>
      </p>
    </div>
  </div>

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-sound.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Участвуйте в реальном общении с Вашими клиентами</h3>
      <p>Общение с Вашими покупателями – это лучший путь к построению и раскрутке Вашего бренда. Обеспечьте и порадуйте их своевременными и информативными ответами. Это легко осуществить при помощи нашего централизованного портала.</p>
      <p>
        <a href="#" class="more">Узнайте как связаться с Вашими клиентами</a>
      </p>
    </div>
  </div>

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-earth.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Делитесь: отзывы повышают доверие</h3>
      <p>Отзывы показывают клиентам, ставите ли вы их потребности на первое место. Если обслуживание клиентов у Вас в приоритете, это меняет дело. С Trust Systems делиться Вашим хорошим обслуживанием на сайтах, в социальных сетях и в поисковых системах невероятно просто. Узнайте больше о том, почему отзывы имеют значение.</p>
      <p>
        <a href="#" class="more">Поделитесь надежностью вашей компании</a>
      </p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-help.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Получите поддержку, когда Вам это необходимо</h3>
      <p>Мы рады помочь. Мы работаем изо всех сил, чтоб Вы получали всю необходимую поддержку с самого начала. Всего лишь спросите.</p>
      <p>
        <a href="#" class="more">Узнайте больше о том, как мы можем помочь Вам </a>
      </p>
    </div>
  </div>


</div>