<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Наш опыт создания приглашений</h1>
      <p>Пригласить Ваших клиентов написать отзыв о Вашей компании на Trust Systems довольно легко, но создать
        эффективное e-mail приглашение достаточно сложно. Вам необходимо, чтобы Ваше приглашение к созданию отзыва
        сработало и повлекло за собой как можно больше написанных отзывов. Чтобы достичь этого, мы обобщили наш
        практический опыт и мы не хотим скрывать его от Вас.</p>
      <p>Посмотрите на пример <a href="#">пригласительного письма</a>.</p>
    </div>
  </div>
  <br />
  <br />



  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/resources/cl-theme.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Полное управление в рамках портала</h3>
      <p>Делайте всё,  используя наш удобный для пользователя B2B портал. Управляйте Вашими отзывами, данными,
        оповещениями и страницей профиля. Перемещайте плагины, экспортируйте звёздочки, изменяйте Ваши виджеты.
        Системой отлично, легко и быстро пользоваться.</p>
    </div>
  </div>

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/resources/cl-letters2.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Копия письма и призыв к действию</h3>
      <p><b>Сделайте Ваше письмо коротким и «вкусным»</b>. Никто не читает длинные письма.  Это правило так же применимо
        к заголовку – он должен состоять из одной строки и стимулировать читателя прочитать Ваше письмо немедленно.</p>

      <p><b>Кто вы? Обозначьте Вашу компанию</b>. Ваш логотип, размещенный в заглавии, добавит надежности и увеличит уровень
        доверия. Используйте его! Также хорошо срабатывает личный подход, например, рассылка писем от имени менеджера
        по обслуживанию клиентов.</p>

      <p>Одна главная ссылка в письме означает, что существует одно место для клика, которое является центральным в
        письме. Не рассеивайте внимание читателя (и не уменьшайте количество переходов) многочисленными ссылками.
        <b>Используйте кнопку необычного цвета, сверстанную в HTML, вместо обычной текстовой ссылки</b>.</p>
    </div>
  </div>

  <div class="row product-info-item">
    <div class="col-md-4 text-center">
      <%= image_tag('business/resources/cl-lamb.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Что такое Trust Systems?</h3>
      <p><b>Объясните значение Trust Systems одним предложением</b>. Поместите объяснение возле ссылки. Это даст возможность
        Вашим клиентам лучше понять, куда они попадут, перейдя по ссылке. Напирмер:</p>

      <p><i>"Trust Systems  - это открытое сообщество для размещения отзывов, которое объединяет онлайн клиентов и
        компании, у которых они покупают товары и услуги."</i></p>
    </div>
  </div>

  <div class="row product-info-item last">
    <div class="col-md-4 text-center">
      <%= image_tag('business/product/cl-diagram.png', :alt => '') %>
    </div>
    <div class="col-md-8">
      <h3>Эффективность</h3>
      <p><b>Итак, каково же хорошее побуждающее к отзыву письмо?</b><br />
        Эффективность  уровня просмотров и коэффициента кликов (CTR) зависит от сферы деятельности и размера списка.
        Имейте ввиду – чем дальше Вы уходите в историю клиента, тем ниже будет Ваш уровень просмотров. Таким образом,
        мы рекомендуем приглашать только тех клиентов, которые покупали у Вас максимум 3 месяца назад.</p>

        <p>В среднем, 5 % получателей оставят отзыв. <b>Чтобы получить больше отзывов, сделайте ссылку для отзыва
          единственной в Вашем письме</b>.</p>
    </div>
  </div>

</div>