// Place all the styles related to the send_invitations/add_invites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invite-add-panel {margin: 20px 0; background-color: rgba(54, 140, 215, 0.117647);}
.invite-add-panel table {width: 100%;}
.invite-add-panel .form-control {width: auto;}
