<h1>Invite your customers</h1>
<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Add Invites', send_invitations_copy_paste_index_path, :class => 'btn btn-primary' %>
  <button type="button" class="btn btn-default">Send from</button>
  <button type="button" class="btn btn-default">Select template</button>
  <button type="button" class="btn btn-default">Done</button>
</div>

<h2>Copy paste from spreadsheet or text editor</h2>
<p>Copy the data from your spreadsheet or text editor and paste it into the text box below.<br />
  The data must be separated by tabs, semicolons or commas.<br />
  The order of the columns should be: <strong>e-mail, name, order ID.</strong></p>
<br />
<p>You can enter up to 300 people at a time.</p>

<form>
  <textarea style="min-width:100%;" class="form-control" placeholder="example@gmail.com, Peter Jones, 1234567890" rows="18"></textarea>
</form>


<%= link_to 'Continue', next_wizard_path, :class => 'btn btn-info' %>

<br />
<br />